

<style>

    .mail {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    a {
        display: inline-block;
        color: white;
        background-color: blue;
        border-radius: 4px;
        padding: 10px 20px;
    }
</style>


<div class="mail">

    <h2>فراموشی رمز عبور</h2>
    <p> عزیز لطفا برای بازیابی رمز عبور لینک زیر استفاده نمایید<%= user.name %> </p>
    <a href="http:localhost:3000/users/reset/<%= token %>">باز یابی رمز عبور</a>


</div>